.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #EDEDED;
  font-family: Roboto;
  font-style: normal;

}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  /* background-image: url(assets/images/komodo.jpg); */
  background-size: cover;

}

.footer{
  background-color: #FFFFFF;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  margin-top: 30px;
}

.navbar{
  color: #FFFFFF;
  background-color: #44C7B3;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
 
}

.square{
  width: 400px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 40px 0px 0px;
  /* position: absolute; */
  /* right: 90px; */
  top: 70px; 
}

.square2{
 
  background: rgba(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  /* position: absolute; */
  /* right: 90px; */
 
}
.squareBeranda{
  /* width: 210px; */
  height: 75px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  top: 293px;
  left: 0px;
}

.squareIklan{
  height: 75px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 0px 20px;
  position: absolute;
  top: 255px;
  left: 0px;
}
.imgcardBeranda{
  height: 100%;
  border-radius: 20px 20px 20px 20px;
}
.cardBeranda{
  height: 370px;
}

.brand{
  color: black;
  text-shadow: 1px 1px 1px white;

}


a{
  color: black;
  font-family: Roboto;
  font-style: normal;
}
.paket{
  margin-top: 20px;
  width: 100%;

}

.lists {
  width: 90%;
  margin-left: 0;
}

.rencana {
  padding: 15px 15px 15px 50px;
}
.detail{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.detail2{
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.subketerangan{
margin-left: 20px;
}


.card{
  border-radius: 20px 20px 20px 20px;
}

.cardIklan{
  margin-top: 10px;
  background: none;
  border-color: #EDEDED ;
  border-radius: 20px 20px 20px 20px;
}

.imgcard{
  border-radius: 20px 20px 0 0;

}
.imgHotel{
  border-radius: 20px 20px 20px 20px;
  height: 200px;
  width: 60%;

}

.nav-link{
  color: #FFFFFF;
}

.pesanCustom{
  position: absolute;
  right: 35px;
  bottom: 10px;
}

.beranda{
  margin-top: 20px;
}

.selengkapnya{
  color: #44C7B3;
}

.imgBlog{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 50%;
  border-radius: 20px 20px 20px 20px;
}

.center {
  text-align: center;

}

.justify {
  text-align: justify;
}

.center{
  text-align: center;
}

.iklan{
  display: block;
  width:100%;
  height:300px;

  
  margin-top: 30px;
  border-radius: 20px 20px 20px 20px;
}

.succes{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 15%;

}

.pesanPaket{
 margin-left: 73%;
 
}

.right{
  position: absolute;
  right: 20px;
 
}

.tengah{
  margin-left: 50%;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%)
}

.page-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit{
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(-00%);
  transition: all 300ms ease-in;
}

.tanggalMulai{
  width: 100%;
  height: 52%;
  border: none;
  border:solid 1px #ccc;
  border-radius: 5px;
}
